$light = 300
$regular = 400
$medium = 500
$bold = 600

$white = #fff
$black = #000

$red-primary = #c80b0e

$blue-primary = #009ee3
$blue-secondary = #004077

$gray-primary = #787878
$gray-secondary = #9d9c9c
$gray-tertiary = #575756
$gray-quaternary = #f3f3f3
$gray-quinquenary = #dadada
$gray-hexenary = #0000001a
$gray-heptenary = #ececec
